/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

/*
 *= require drift-basic
*/

/*
 #product-images #main-image img.click-to-zoom { min-height: 0px; height: 12px; }
*/
.product-hover-zoom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 400px;
}

.drift-link {
  float: left;
  cursor: zoom-in;
  width: 100%;
}
